* {/*se utiliza selector universal*/
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(75, 75, 75);
}

body { 
    margin: 0;
    padding: 0;
}

header { /*se da estilo a la cabecera principal*/
    margin: 0;
    padding: 0;
    min-height: 10%;
    max-height: 20%;
    object-fit: fill;
    background: linear-gradient(to bottom, #83898a 20%, white);
}

section {/*se define la posicion y anchura de la seccion*/
    float: left;
    width: 70%;
}

section header {/*se define el estilo del encabezado de la seccion*/
    background: none;
    border-bottom-style: solid;
    border-width: 5px;
    border-color: #83898a;
    font-size: 1em;
    text-align: center;
}

article p {/*se posiciona el texto de los parrafos de los articulos en el centro*/
    text-align:center;
    
}

article img {/*se da estilo a las imagenes de los articulos*/
    width: 150px;
    height: auto;
    margin: auto;
    display:block;
    border-radius: 5px;
}

h1 {/*se define el estilo para los encabezados principales*/
    padding-left: 10px;
    padding-right: 10px;
}

h2 {/*se define el estilo para los encabezados segundarios*/
    background: linear-gradient(to bottom, #b9c5c7, white 90%);
    padding: 5px 5px 5px 10px;
    font-size: 1.1em;
    text-align: center;
}

.bold {
    font-weight: bold;
}


img {
    height: 100px;
}

nav {
    min-height: 10%;
    width: 100%;
}

a {
    text-decoration: none;
}

section a:hover {
    background-color: #DDD;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

nav ul li {
    /*display: inline-flex;*/
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    box-sizing:content-box;
    white-space: nowrap;
}
nav ul li a { /*menu de navegacion*/
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    font-size: 0.9em;
    /*display: block;*/
    padding: 6px;
    float: left;
    
}


aside p {/*se da estilo a los parrafos de aside*/
    font-size: 15px;
    font-style:italic;
    text-align: center;
    float: right;
    width: 30%;
}

aside h2 {
    background: linear-gradient (to bottom,#d0b2e9, white);
    font-size: 25px;
    font-style:italic;
    text-align:center;
}

#solidaria{
    width: 100px;
    height: auto;
    margin: auto;
    display:block;
    border-radius: 5px;
}
#contenedor > footer{
    background: linear-gradient(to top, #83898a, white 90%);
    float:left;
    width: 100%;
    display: inline;
}

#actual {
    background-color: #939899;
}