*{/*Utilizamos el selector universal*/

    font-family: Arial, Helvetica, sans-serif;
    color: rgb(75, 75, 75);
}

body {
    margin: 0;
    padding: 0;
}

header {
    margin: 0;
    padding: 0;
    min-height: 10%;
    max-height: 20%;
    object-fit: fill;
    background: #DFDEDE;
}

section {
    float: left;
    width: 90%;
}

aside{
    float: left;
    width: 90%;
    
}

li a{
    width:10%;
}

ul{
    width: 100%;
}
