* {/*se utiliza selector universal*/
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(75, 75, 75);
}

body { 
    margin: 0;
    padding: 0;
}

header {
    margin: 0;
    padding: 0;
    min-height: 10%;
    max-height: 20%;
    object-fit: fill;
    background: linear-gradient(to bottom, #5ccae1 20%, white);
}

section {
    float: left;
    width: 70%;
}

section header {
    /*background: #5ccae1;
    border-radius: 0px 30px 30px 0px;*/
    background: none;
    border-bottom-style: solid;
    border-width: 5px;
    border-color: #5ccae1;
    font-size: 1em;
    text-align: center;
}

section footer {
    background-color:#5ccbe157;
    border-top-style: solid;
    border-width: 2px;
    border-color: #5ccae1;
    font-size: 1em;
    text-align: start;
    padding: 0 0 1% inherit;
}

article p {
    text-align:center;
    
}

article img {
    width: 150px;
    height: auto;
    margin: auto;
    display:block;
    border-radius: 5px;
}

h1 {
    padding-left: 10px;
    padding-right: 10px;
}

h2 {
    background: linear-gradient(to bottom, #5ccae1, white 90%);
    padding: 5px 5px 5px 10px;
    font-size: 1.1em;
    text-align: center;
}

.bold {
    font-weight: bold;
}


img {
    height: 100px;
}

nav {
    min-height: 10%;
    width: 100%;
}

a {
    text-decoration: none;
}

section a:hover {
    background-color: #DDD;
}

p > a {
    color:mediumblue;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

nav ul li {
    /*display: inline-flex;*/
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    box-sizing:content-box;
    white-space: nowrap;
}
nav ul li a { /*menu de navegacion*/
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    font-size: 0.9em;
    /*display: block;*/
    padding: 6px;
    float: left;
    
}


aside p {
    font-size: 19px;
    font-style:italic;
    text-align: center;
    float: right;
    width: 30%;
}

aside h2 {
    background-color:  rgb(36, 109, 106);
    font-size: 25px;
    font-style:italic;
    text-align:center;
}

#solidaria{
    width: 100px;
    height: auto;
    margin: auto;
    display:block;
    border-radius: 5px;
}
#contenedor > footer{
    background: linear-gradient(to top, #5ccae1, white 90%);
    float: left;
    width: 100%;
}

#actual {
    background-color: #5ccae1;
}