/*Eliminamos los margin y padding que pudiese tener el documento por defecto y añadimos una fuente*/
*{/*Utilizamos el selector universal*/
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/*Empiezo a dar estilo a la parte más exterior de la página*/
#contenedor{ /*Utilizamos un selector de id*/
    /*border: 2px solid #000;*/
    width: 90%; /*Aplico un ancho del 100% para que se ajuste a la ventana del explorador*/
    margin-left: auto;
    margin-right: auto;
    background-color:#DFDEDE;
    padding: 5px;
}

/*Siguiendo el orden de la estructura HTML empieza el estilo del header, como el header principal tiene un identificador de clase, 
utilizo ese identificador para editarlo*/
.principal{   
    width: 100%;
    margin-bottom: 5px;
    height: 100px;
    background-color: #242424;
    overflow: hidden; /*Añadimos la propiedad overflow para que se adapte a su contenido*/
    
}

/*Aplico estilo al h1 que está dentro del header*/
h1{
    text-align: center;
    color: white;
    margin-top: 25px;
}

/*Aplico estilo a los iconos de redes sociales*/
.redes img{
    float: right;
    width: 25px;
    margin-top: 20px;
    margin-right: 20px;
    
}

/*Aplico estilo al logo de la empresa*/
#logo img{
    width: 90px;
    float: left;
    margin: 5px;
}

/*Empiezo a darle estilo al menú nav*/
.menu ul{
    display: block; /*Mediante esta propiedad añadimos el efecto desplegable*/
    padding: 0px;
    margin: 0px;
    list-style: none;/*Eliminamos el estilo de las listas*/
    position: absolute;
}

/*Le doy estilos a las etiquetas a, dentro de mi menú nav*/

.menu a{
    display: block;
    padding: 20px;
    background-color: #C3C2C2;
    text-decoration: none;/*Eliminamos el subrayado de los enlaces*/
    color: #191c26;
}
/*Añado un efecto, que se activará al pasar el ratón por encima*/
.menu a:hover{
    background-color: aqua;
}
/*Añado negrita para todas las li hijas de ul*/
.menu ul li{
    font-weight: bold;  
}
/*Utilizando un slector multiple, eliminamos cualquier efecto, en este caso eliminamos el efecto de "caja, que tengan las ul hijas, y se queden como "ocultas"*/
.menu ul li ul{
  display: none;    
}

.menu ul li a:hover + ul, .menu ul li ul:hover{
    display: block;
}
/*Termina el estilo del nav*/

/*Comienzo el estilo del section*/
section{
    /*border: 1px solid #903;*/
    width: 48%;
    min-height: 200px;
    margin-right: 15px;
    margin-top: 60px;
    margin-bottom: 15px;
    float:left;
}
/*Aplico estilo al header de section*/
.seccion{
    width: 100%;
    height: 100px;
    background-color: gray;
}

/*Aplico estilo a los párrafos*/
.articulo{
    text-align: justify;
    padding: 10px;
}
/*Defino el anch de la imagen*/
article img{
    width: 100%;
}
/*Aplico estilo al footer de section*/
.seccionpie{    
    width: 100%;
    height: 100px;
    background-color: grey;
}

/*Comienzo el estilo del aside*/
aside{
    width: 50%;
    min-height: 700px;
    float: left;    
    margin-top: 60px;   
}

.noticias{
    float: left;
}
.noticias img{
    width: 150px;
}

.tipos{
    float: left;
    height: 150px;
    margin-right: 15px;
}
h3{
    text-align: center;
}
.def{
    float: left;
}

.piepagina{
    color: white;
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
}

@media screen and (max-width: 375px){
    aside {
        margin-top: 80%;
    }    
}