/*definimos estilo para ancho variable de monitores entre 900px y 1300px de ancho*/
@media  screen and (min-width:900px) and (max-width:1300px){
    body {
        width: 100%;
        height: auto;
        

    }

    section{
        width: 70%;
        float: left;
    }

    article{
        width: 98%;
        display: block;

    }

    /*aside{
        width: 30%;
        float:right;
        margin-left:auto;
        margin-right:auto;
        padding:5px;
    }*/

}