/*Ipad vertical*/
@media screen and (min-device-width: 768px) 
              and (max-device-width: 1024px) 
              and (orientation:portrait){
   
    body {
        width: 98%;
        height: auto;

    }

    section{
        width: 70%;
        float: left;
    }

    article{
        width: 98%;
        display: block;

    }

    

}
