* {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(75, 75, 75);
    transition: ease 0.2s;
}

body {
    margin: 0;
    padding: 0;
}

header {
    margin: 0;
    padding: 5px;
    min-height: 10%;
    max-height: 20%;
    object-fit: fill;
    background: linear-gradient(to bottom, #5ccae1 20%, white);
}

section {
    float: left;
    width: 100%;
}

section header {
    background: none;
    border-bottom-style: solid;
    border-width: 5px;
    border-color: #5ccae1;
    font-size: 1em;
    text-align: center;
}



article p {
    text-align: justify; /*Para que nuestro texto quede centrado lo incluiremos como texto justificad*/
}
aside {
    float: right;
    width: 30%;
}

h1, h2, p {
    padding-left: 10px;
    padding-right: 10px;
}
h1 { /*Para el texto del título lo ampliamos y destacamos*/
    padding: 5px; /*Dejamos un margen adecuado*/
    margin-bottom: 0;
    font-size: 2em; /*Ampliamos el tamaño de la fuente para destacarlo*/
}

h2 {
    background: linear-gradient(to bottom, #5ccae1, white 90%);
    padding: 5px 5px 5px 10px;
    font-size: 1.2em;


}

.QM::before {
    content: open-quote;
}
.QM::after {
    content: close-quote;
}


img {
    height: 100px;
}

nav {
    min-height: 10%;
    width: 100%;
}

a {
    text-decoration: none;
}

section a:hover {
    background-color: #DDD;
}

p > a {
    color:mediumblue;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;

}
nav ul li {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    box-sizing: border-box;
    white-space: nowrap;
    
 

}
nav ul li a {
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    font-size: 0.9em;
    padding: 6px;
    float: left;
 
}
nav ul li a:hover { /*De esta forma destacaremos aquello que este bajo el ratón y no ayuda a visualizar lo que seleccionamos del menu*/
    color: #b45b5b; /*cambiamos el color para destacar lo que vamos a seleccionar*/
    font-weight: bold; /*Destacamos en negrita nuestra selección*/
    
}

aside ul {
    list-style: none;
}


#actual {
    background-color: #499fb1;
}