* {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(75, 75, 75);
    transition: ease 0.2s;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
}

header {
    margin: 0;
    padding: 0;
    min-height: 10%;
    max-height: 20%;
    object-fit: fill;
    background: linear-gradient(to bottom, #5ccae1 20%, white);
}

section {
    float: left;
    width: 100%;
}

section header {
    background: none;
    border-top-style: solid;
    border-width: 5px;
    border-color: #5ccae1;
    font-size: 1em;
    text-align: center;
}

section footer {
    background-color:#5ccbe157;
    border-top-style: solid;
    border-width: 2px;
    border-color: #5ccae1;
    font-size: 1em;
    text-align: start;
    padding: 0 0 1% inherit;
}

article p {
    text-align: justify;
}

article img {
    float: left;
    width: 100%;
    max-height:80vw;
    box-sizing: border-box;
    object-fit: cover;
    margin-bottom: 10px;
    /*position: relative;
    top: -30px;
    mask-image: linear-gradient(to top, rgba(0,0,0,1) 80%, rgba(0,0,0,0));
    -webkit-mask: linear-gradient(to top, black 97%, transparent);*/
}
/*
#noticia1img {
    min-width: 119px;
    min-height: 85px;
}

#noticia2img {
    min-width: 190px;
    min-height: 137px;
}
*/
#pie_seccion {
    font-style: italic;
    margin: 0% auto 1%;
}

aside {
    display: none;
    visibility: collapse;
    float: left;
    width: 100%;
}

h1, h2, p {
    padding-left: 10px;
    padding-right: 10px;
}
h1 {
    padding: 5px;
    margin-bottom: 0;
}

h2 {
    background: linear-gradient(to bottom, #5ccae1, white 90%);
    padding: 5px 5px 5px 10px;
    font-size: 1.1em;
}

h3 {
    font-size: 0.85em;
}

.bold {
    font-weight: bold;
}

.QM::before {
    content: open-quote;
}
.QM::after {
    content: close-quote;
}

#logo {    
    height: 100px;
}

a {
    text-decoration: none;
}

section a:hover {
    background-color: #DDD;
}

p > a {
    color:mediumblue;
}

nav {
    min-height: 10%;
}

/* Menu desplegado original */
nav ul {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 1;
    list-style: none;
    float: left;
    margin: 0px;
    padding: 0px;
}

nav ul li a {
    display: block;
    width: 100vw;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    font-size: 0.9em;
    display: block;
    padding: 6px 0 6px 0;
    float: left;
}
nav ul li a:hover {
    color: #499fb1;
    font-weight: bold;    
}

aside ul {
    list-style: none;
    padding-left: 1rem;
}

#contenedor > footer{
    background: linear-gradient(to top, #5ccae1, white 90%);
    float: left;
    width: 100%;
}

#actual {
    background-color: #5ccae1;
}


/* Intento 1 de menú desplegable */

/*nav ul li {
    display: none;
}

nav ul li#button {
    display: block;
    height: 30px;
}

nav ul li.menubutton:hover~.menulink,
nav ul:hover~.menulink {
    display: flex;
    box-sizing: content-box;
}

nav ul li.menubutton:hover::after~.menulink,
nav ul:hover::after~.menulink{
    transition-delay: 1s;
}
*/


/* Intento 2 de menú desplegable*/
/* basado en: https://codepen.io/melody244/pen/KyYEBp */


/*.menu {
    position: relative;
    display: inline-block;
}

.menu:before {
    content: "Menu";
}

.menu:focus {
    pointer-events: none;
}

.menu:focus .lista-menu {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.lista-menu {
    position: absolute;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.5s;
}
*/


/* Intento 3 de menú desplegable */

/*.menu {
    position: relative;
}

.menu > span {
    user-select: none;
}

.menu > span,
.menu > div {
    cursor: pointer;
    outline: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.menu > div {
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}

.menu > span:focus ~ div {
    display: block;
}
  
.menu > ul {
    position: absolute;
    z-index: 1;
    visibility: hidden;
    transition: visibility 0.5s;
    opacity: 0;
}
  
.menu > span:focus ~ ul {
    visibility: visible;
    opacity: 1;
}
*/


/*Intento 4 de menú desplegable*/

/*.menu {
    position: relative;
    display: inline-block;
    z-index: 2;    
    padding: 0;
    margin: 0;
    outline: 0;
    text-align: left;
}

.menu:before {
    content: "\2630 \a0 Menu"; 
    color:white;
    padding: 5px 10px;
    border: 1px solid #555;
    border-radius:3px;
    background: #96305e;
    background: -moz-linear-gradient(top,  #96305e 0%, #822956 10%, #822956 90%, #751749 100%);
    background: -webkit-linear-gradient(top,  #96305e 0%,#822956 10%,#822956 90%,#751749 100%);
    background: linear-gradient(to bottom,  #96305e 0%,#822956 10%,#822956 90%,#751749 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#96305e', endColorstr='#751749',GradientType=0 );
}

.menu:focus { pointer-events:none; }

.menu:focus .lista-menu {
    opacity:1;
    visibility:visible;
}

.lista-menu {
    background-color: #364656;
    width: auto;
    margin:3px 0 0 0;
    padding: 10px;
    border-radius:3px;
    border:1px black solid;
    border-radius:3px;
    pointer-events: auto;
    position: absolute;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: visibility 1s;
    background: #1f8bd3;
    background: -moz-linear-gradient(top,  #1f8bd3 0%, #1b7aba 10%, #1b7aba 90%, #1b61b7 100%);
    background: -webkit-linear-gradient(top,  #1f8bd3 0%,#1b7aba 10%,#1b7aba 90%,#1b61b7 100%);
    background: linear-gradient(to bottom,  #1f8bd3 0%,#1b7aba 10%,#1b7aba 90%,#1b61b7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f8bd3', endColorstr='#1b61b7',GradientType=0 );
}

.lista-menu li {
    background:transparent;
    border:none;
    outline:0;
    display:block;
    color:white;
    text-decoration:none;
    width:160px;
    padding:5px;
}
*/


/* Intento 5 de menu desplegable*/

/* basado en: https://lage.us/HTML-Pure-HTML-Dropdown-Details-Summary-Tag.html */

/*summary { 
    outline:none;
    cursor: pointer;
    display: inline-block;
    border-bottom: 10.5px double black;
    border-top: 3.5px solid black;
    height: 4px;
    width: 25px;
    box-sizing:initial;
}

nav summary::-webkit-details-marker {
    display:none;
}

.menu .lista-menu {
    display: block;
    line-height:20px;
    margin-left:1%;
}*/


/* Intento 6 de menu desplegable */

/* basado en: https://www.w3schools.com/css/css_dropdowns.asp */

/*nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
nav li {
    float: left;
}
  
nav li a, nav .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
nav li a:hover, 
nav .lista-menu:hover .dropbtn {
    background-color: red;
  }
  
nav li.lista-menu {
    display: inline-block;
  }
  
nav .lista-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
nav .lista-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
nav .lista-menu a:hover {
    background-color: #f1f1f1;
}
  
nav .lista-menu:hover .lista-menu {
    display: block;
}*/


/* Intento 7 de desplegable usando el de index */

/*.menu ul{
    display: flex;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.menu a{
    display: block;
    padding: 20px;
    background-color: #F9B53C;
    text-decoration: none;
    color: #191c26;
}

.menu a:hover{
    background-color: #493bcc;
}

.menu ul li ul{
  display: none;    
}

.menu ul li a:hover + ul, .menu ul li ul:hover{
    display: block;
}
*/


/* Intento 8 de desplegable */

/* basado en: https://www.sowebsited.com/basics/collapse.html */

.menu-content {
    position:relative;
    left: -10px;
    /*padding: 0 0 50px;*/
}

.collapsable-menu {
    position: relative;
    left: 10px;
    /*padding: 0px 30px;*/
    /*border-bottom: 1px solid #5ccae1;*/
    /*box-shadow: 1px 2px 3px;*/
}

.collapsable-menu ul {
    list-style-type: none;
    padding: 0;
}

.collapsable-menu a {
    display: block;
    /*padding: 10px;*/
    text-decoration: none;
    font-size: 20px;
}

.collapsable-menu label {
    display: block;
    cursor: pointer;
    width: 18px;
    /*background: url(menu.png) no-repeat left center;*/
    padding: 3px 0 0px 10px;
    border-bottom: 10.5px double #326772;
    border-top: 3.5px solid #326772;
    margin-top: 10px;
    margin-bottom: 10px;
}

.menu-content {
    max-height: 0;
    overflow: hidden;
    font-family: 'Oswald', sans-serif;
    /*padding: 0 0 0 50px;*/
}

#menu {
    display: none;
}

#menu:checked {
    display: none;
}

/* Toggle Effect */
#menu:checked~label {
    /*background-image: url(close.png);*/
}

#menu:checked~.menu-content {
    max-height: 100%;
}

.vel-envio {
    max-height: 0;
    overflow: hidden;
}

#hacer-pedido:checked~.vel-envio {
    max-height: 100%;
}


/* Formularios */

form{
	padding-left: 10px;;
	margin:auto;
	background: linear-gradient(to bottom, white, #5ccae1 50%, white);
}

form label{
	width:80%;
	font-weight:bold;
	display:block;
}

form input[type="text"],
form input[type="email"],
form input[type="tel"] {
	width:80%;
	padding:3px 10px;
	border:1px solid;
	border-radius:3px;
	background-color:#ffffff;
	margin:9px 0;
	display:inline-block;
}


form input[type="submit"]{
	width:70%;
	padding:8px 16px;
	margin-top: 20px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 30px;
    justify-content: center;
	border:1px solid #000;
	display:block;
	color:rgb(255, 255, 255);
	background-color:rgb(158, 65, 65);
} 

form input[type="submit"]:hover{
	cursor:pointer;
}

.form-h2 {
    background: none;
}

fieldset {
    border: none;
}

textarea{
	width:95%;
	height:100px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;			
	margin:8px 0;
	/*resize: vertical | horizontal | none | both*/
	resize:none;
	display:block;
}

.vel-envio {
    /*max-height: 0;*/
   display: none;
}

#hacer-pedido:checked~.vel-envio {
    display: block;
    /*max-height: 100%;
    overflow: visible;*/
}
