* {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(75, 75, 75);
}

body {
    margin: 0;
    padding: 0;
}

header {
    margin: 0;
    padding: 0;
    min-height: 10%;
    max-height: 20%;
    object-fit: fill;
    background: linear-gradient(to bottom, #5ccae1 20%, white);
}

section {
    float: left;
    width: 70%;
}

section header {
    /*background: #5ccae1;
    border-radius: 0px 30px 30px 0px;*/
    background: none;
    border-bottom-style: solid;
    border-width: 5px;
    border-color: #5ccae1;
    font-size: 1em;
    text-align: center;
}

section footer {
    background-color:#5ccbe157;
    border-top-style: solid;
    border-width: 2px;
    border-color: #5ccae1;
    font-size: 1em;
    text-align: start;
    padding: 0 0 1% inherit;
}

article p {
    text-align: justify;
}

#pie_seccion {
    font-style: italic;
    margin: 0% auto 1%;
}

aside {
    float: right;
    width: 30%;
}

h1, h2, p {
    padding-left: 10px;
    padding-right: 10px;
}
h1 {
    padding: 5px;
    margin-bottom: 0;
}

h2 {
    background: linear-gradient(to bottom, #5ccae1, white 90%);
    padding: 5px 5px 5px 10px;
    font-size: 1.1em;
}

/*h1, h2 {
    color: rgb(75, 75, 75);
}*/

.bold {
    font-weight: bold;
}

.QM::before {
    content: open-quote;
}
.QM::after {
    content: close-quote;
}


img {
    height: 100px;
}

nav {
    min-height: 10%;
    width: 100%;
}

a {
    text-decoration: none;
}

a:hover {
    background-color: #DDD;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #CCC;
}
nav ul li {
    /*display: inline-flex;*/
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    box-sizing: border-box;
    white-space: nowrap;
}
li a {
    /*width: 10%;
    height: max-content;*/
    color: #DDD;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    font-size: 0.9em;
    /*display: block;*/
    padding: 6px;
    float: left;
    border-bottom-width: 7px;
    border-bottom-style: solid;
    border-bottom-color: #454545;
    background-color: #6A6A6A;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #CCC;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #CCC;
}
li a:hover {
    color: #FFF;
    font-weight: bold;
    background-color: #3E3E3E;
    border-bottom-width: 7px;
    border-bottom-style: solid;
    border-bottom-color: #666;
    border-left-width: 1px;
    border-left-style: solid;		
    border-bottom-color: #5ccae1;
}