* {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(75, 75, 75);
    transition: ease 0.2s;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
}

header {
    margin: 0;
    padding: 0;
    min-height: 10%;
    max-height: 20%;
    object-fit: fill;
    background: linear-gradient(to bottom, #5ccae1 20%, white);
}

section {
    float: left;
    width: 100%;
}

section header {
    background: none;
    border-top-style: solid;
    border-width: 5px;
    border-color: #5ccae1;
    font-size: 1em;
    text-align: center;
}

section footer {
    background-color:#5ccbe157;
    border-top-style: solid;
    border-width: 2px;
    border-color: #5ccae1;
    font-size: 1em;
    text-align: start;
    padding: 0 0 1% inherit;
}

article p {
    text-align: justify;
}

article img {
    float: left;
    width: 100%;
    max-height:80vw;
    box-sizing: border-box;
    object-fit: cover;
    margin-bottom: 10px;
    /*position: relative;
    top: -30px;
    mask-image: linear-gradient(to top, rgba(0,0,0,1) 80%, rgba(0,0,0,0));
    -webkit-mask: linear-gradient(to top, black 97%, transparent);*/
}
/*
#noticia1img {
    min-width: 119px;
    min-height: 85px;
}

#noticia2img {
    min-width: 190px;
    min-height: 137px;
}
*/
#pie_seccion {
    font-style: italic;
    margin: 0% auto 1%;
}

aside {
    display: none;
    visibility: collapse;
    float: left;
    width: 100%;
}

h1, h2, p {
    padding-left: 10px;
    padding-right: 10px;
}
h1 {
    padding: 5px;
    margin-bottom: 0;
}

h2 {
    background: linear-gradient(to bottom, #5ccae1, white 90%);
    padding: 5px 5px 5px 10px;
    font-size: 1.1em;
}

h3 {
    font-size: 0.85em;
}

.bold {
    font-weight: bold;
}

.QM::before {
    content: open-quote;
}
.QM::after {
    content: close-quote;
}

#logo {    
    height: 100px;
}

a {
    text-decoration: none;
}

section a:hover {
    background-color: #DDD;
}

p > a {
    color:mediumblue;
}

nav {
    min-height: 10%;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 1;
    list-style: none;
    float: left;
    margin: 0px;
    padding: 0px;
}
nav ul li {
    display: flex;
    box-sizing: content-box;
}
nav ul li a {
    display: block;
    width: 100vw;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    font-size: 0.9em;
    display: block;
    padding: 6px 0 6px 0;
    float: left;
}
nav ul li a:hover {
    color: #499fb1;
    font-weight: bold;
}

aside ul {
    list-style: none;
    padding-left: 1rem;
}

#contenedor > footer{
    background: linear-gradient(to top, #5ccae1, white 90%);
    float: left;
    width: 100%;
}

#actual {
    background-color: #5ccae1;
}